
  <div *ngIf="!loading && rankings.length > 0" class="tabla-container">

    <div class="titulo-tabla">Tabla de posiciones</div>
    <div *ngIf="loading" class="loading">
      <div class="spinner"></div>
      <p>Cargando posiciones...</p>
    </div>


    <table>
      <thead>
        <tr>
          <th>Posición</th>
          <th>Nombre</th>
          <th>Puntaje</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let ranking of rankings; let i = index"
          [class.current-user]="ranking.userId === currentUserId">
          <td class="position">{{ i + 1 }}°</td>
          <td class="username">{{ ranking.username }}</td>
          <td class="points">{{ ranking.puntaje }} pts</td>
        </tr>
      </tbody>
    </table>
    <button class="boton-regresar" (click)="regresar()">Regresar</button>
  </div>
  <div *ngIf="!loading && rankings.length === 0" class="no-data">
    <p>No hay participantes registrados en esta polla.</p>
  </div>


