:host {
  display: block;  // Asegura que ocupe un espacio en la pantalla
  margin: 0 auto;  // Centrarlo horizontalmente
  color: white;
  margin: 15px 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  min-height: 70vh;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-top: 30px;
}
