@import '../../../styles.scss';

:host {
  display: block;
  margin: 0 auto;
  color: white;
  margin: 15px auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  min-height: 70vh;
  box-sizing: border-box;
  max-width: 60%;
  width: 100%;
}

.registro-container {
  max-width: 90%;
  margin: auto;
  text-align: center;

  h2 {
    color: #5a4bac;
    margin-bottom: 20px;
    font-size: $font-size-xlarge;

    @include mobile {
      font-size: $font-size-large;
      margin-bottom: 15px;
    }
  }

  input {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    display: block;

    &:focus {
      outline: none;
      border-color: #2a7a2a;
    }

    @include mobile {
      width: 90%;
      max-width: 300px;
    }

    @include tablet {
      width: 80%;
      max-width: 300px;
    }
  }

  button {
    background: linear-gradient(to bottom, #5a4bac, #2f1f80);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-size: 16px;
    margin: 25px auto;
    display: block;

    &:hover {
      background: linear-gradient(to bottom, #5a4bac, #140a47);
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }

  .error {
    color: #dc3545;
    font-size: $font-size-small;
    margin: 20px 0;
  }

  .success {
    color: $success;
    background-color: rgba($success, 0.1);
  }
}
