@import '../../../styles.scss';

.tabla-container {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px 20px 5px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #2a7a2a;
  width: 100%;

  @include mobile {
    padding: 5px;
    margin: 0;
  }

  @include tablet {
    padding: 5px;
  }
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin: 0 -5px;
  padding: 0 5px;

  @include mobile {
    -webkit-overflow-scrolling: touch;
  }

  @include tablet {
    -webkit-overflow-scrolling: touch;
  }

  table {
    background-color: white;
    width: 100%;
    border-collapse: separate;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
    margin-bottom: 5px;
    display: inline-table;
  }
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px dotted #2a7a2a;
  border-right: 1px dotted #2a7a2a;
  border-left: 1px dotted #2a7a2a;

  &:nth-child(4) {
    min-width: 100px;

    @include mobile {
      padding: 2px;
    }

    @include tablet {
      padding: 5px;
    }
  }
}

th {
  background-color: #2a7a2a;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: rgba(144, 238, 144, 0.3);
}

input {
  width: 40px;
  text-align: center;
  border: 1px solid #2a7a2a;
  border-radius: 4px;

  @include mobile {
    width: 35px;
  }

  @include tablet {
    width: 35px;
  }
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.icono-equipo {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.boton-regresar,
.boton-guardar {
  background: linear-gradient(to bottom, #5a4bac, #2f1f80);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  font-size: 12px;
}

.boton-guardar {
  margin-top: 5px;
  margin-left: 5px;

  @include mobile {
    padding: 3px 2px;
    font-size: 10px;
    max-width: 60px;
  }

  @include tablet {
    padding: 4px 6px;
    font-size: 10px;
    margin-top: 5px;
  }
}

.boton-regresar {
  margin-left: auto;
  margin-bottom: 10px;
  padding: 8px;
}

.boton-regresar:hover,
.boton-guardar:hover {
  background: linear-gradient(to bottom, #5a4bac, #140a47);
}

.fila-total {
  background-color: #5a4bac;
  color: black;
  font-weight: bold;
}

.puntaje-total {
  text-align: right;
  padding-right: 15px;
}

.puntaje-total-numero {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.pagination {
  display: flex;
  gap: 5px;
  align-items: center;

  .page-link {
    background: linear-gradient(to bottom, #5a4bac, #2f1f80);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-size: 12px;
    text-decoration: none;

    @include mobile {
      padding: 2px 4px;
      font-size: 10px;
    }

    @include tablet {
      padding: 4px 8px;
      font-size: 10px;
    }

    &:hover {
      background: linear-gradient(to bottom, #5a4bac, #140a47);
    }

    &.active {
      background: linear-gradient(to bottom, #5a4bac, #140a47);
    }

    &.disabled {
      background: #cccccc;
      cursor: not-allowed;
      opacity: 0.7;

      &:hover {
        background: #cccccc;
      }
    }
  }
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.titulo-tabla {
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}
