@import '../../../styles.scss';

.login-container, .dashboard {
  background-color: $white;
  text-align: center;
  border: 1px solid $success;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin: 10px auto;
  box-sizing: border-box;

  @include mobile {
    width: 95%;
    max-width: 500px;
    padding: 2px 5px;
    margin: 5px auto 0;
    border: none;
    border-radius: 5px;
  }

  @include tablet {
    width: 80%;
    max-width: 500px;
    padding: 10px 5px;
    margin: 10px auto;
  }

  @include desktop {
    width: 50%;
    max-width: 500px;
    padding: 10px 5px;
    margin: 10px auto;
  }
}

input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid $success;
  border-radius: 4px;

  @include mobile {
    max-width: 90%;
  }
}

button {
  background: linear-gradient(to bottom, $primary, $primary-dark);
  color: $white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;


  @include mobile {
    justify-content: space-between;
    margin: 10px 0;
  }

  &:hover {
    background: linear-gradient(to bottom, $primary, darken($primary-dark, 10%));
  }
}

.error {
  color: red;
  font-size: $font-size-small;
  margin: 5px 0;
}

.forgot-password {
  margin: 10px;
  text-align: center;
  cursor: pointer;
  width: 100%;

  @include mobile {
    font-size: 14px;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: $primary;

    &:hover {
      text-decoration: underline;
      color: $primary-dark;
    }
  }
}

.welcome-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;


  button {
      padding: 5px;
      white-space: nowrap;
  }

  @include mobile {
      flex-direction: row;
      text-align: center;

      button {
          width: 40%;
      }
  }
}


